@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Fellix;
  src: url(../public/fonts/Fellix-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Fellix;
  src: url(../public/fonts/Fellix-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Fellix;
  src: url(../public/fonts/Fellix-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Fellix;
  src: url(../public/fonts/Fellix-Medium.ttf);
  font-weight: 500;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
